@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  font-family: 'Josefin Sans', sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#852A3A), to(#8E4EEB));
  background: linear-gradient(to bottom right, #852A3A, #8E4EEB);
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:focus {
  outline: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 700px;
  border: 1px solid white;
  border-radius: 10px;
  gap: 1em;
  padding: clamp(1px, 7vw, 5em);
  padding-bottom: 1em;
  margin: 0 15px;
  background: -webkit-gradient(linear, left top, right bottom, from(#8E4EEB), to(#852A3A));
  background: linear-gradient(to bottom right, #8E4EEB, #852A3A);
}

h1 {
  font-size: clamp(2em, 5vw, 4em);
  letter-spacing: 5px;
  text-transform: uppercase;
}

i {
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #852A3A;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #8E4EEB;
}

::-webkit-scrollbar-thumb:hover {
  background: #8E4EEB;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
form button {
  font-size: 1.5rem;
  padding: 0.5em;
  background: white;
}

form input,
form select {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:focus-visible i {
  -webkit-transform: scale(1.5) rotate(360deg);
          transform: scale(1.5) rotate(360deg);
}

form button {
  color: #8E4EEB;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

form button:active i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (any-hover: hover) {
  form button i {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  form button:hover {
    background: #8E4EEB;
    color: #eee;
  }
  form button:hover i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.todo-input {
  width: clamp(180px, 20vw, 500px);
  color: #8E4EEB;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todo-input:focus {
  background-color: #8E4EEB;
  color: white;
}

.todo-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.todo-input:focus:-ms-input-placeholder {
  opacity: 0;
}

.todo-input:focus::-ms-input-placeholder {
  opacity: 0;
}

.todo-input:focus::placeholder {
  opacity: 0;
}

.todo-input::-webkit-input-placeholder {
  color: #8E4EEB;
  opacity: 0.7;
  text-align: center;
  padding-left: 2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todo-input:-ms-input-placeholder {
  color: #8E4EEB;
  opacity: 0.7;
  text-align: center;
  padding-left: 2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todo-input::-ms-input-placeholder {
  color: #8E4EEB;
  opacity: 0.7;
  text-align: center;
  padding-left: 2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todo-input::placeholder {
  color: #8E4EEB;
  opacity: 0.7;
  text-align: center;
  padding-left: 2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (any-hover: hover) {
  .todo-input:hover::-webkit-input-placeholder {
    opacity: 0.5;
  }
  .todo-input:hover:-ms-input-placeholder {
    opacity: 0.5;
  }
  .todo-input:hover::-ms-input-placeholder {
    opacity: 0.5;
  }
  .todo-input:hover::placeholder {
    opacity: 0.5;
  }
}

.todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  list-style: none;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
}

.todo-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-break: break-all;
  background: white;
  padding: 0.5em;
}

.delete-btn,
.complete-btn {
  background: #8E4EEB;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

.complete-btn {
  background: #0e8f0e;
}

._completed {
  text-decoration: line-through;
  opacity: 0.5;
}

._deleted {
  -webkit-transform: rotateZ(20deg) scale(0) translateY(50px);
          transform: rotateZ(20deg) scale(0) translateY(50px);
  opacity: 0;
}

._preloaded {
  -webkit-transform: rotateZ(-20deg) scale(0);
          transform: rotateZ(-20deg) scale(0);
}

._loaded {
  -webkit-transform: rotateZ(0) scale(1);
          transform: rotateZ(0) scale(1);
}

.select {
  margin: 1rem;
  position: relative;
}

.select::after {
  content: "\25BC";
  position: absolute;
  font-size: 20px;
  background: #8E4EEB;
  color: white;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (any-hover: hover) {
  .select:hover::after {
    background: white;
    color: #8E4EEB;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #8E4EEB;
  width: 200px;
  cursor: pointer;
  text-align: center;
  padding: 1em;
}

select:focus-within {
  border-radius: 30px 0px 0px 0px;
}

select option {
  background-color: #8E4EEB;
  color: white;
}
