@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font: 'Josefin Sans', sans-serif;
$background: linear-gradient(to bottom right, #89A084, #2531A8);
$greenColor: #89A084;
$blueColor: #2531A8;


