@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//Main styles
body {
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(to bottom right, #852A3A, #8E4EEB);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

:focus {
    outline: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 700px;
    border: 1px solid white;
    border-radius: 10px;
    gap: 1em;
    padding: clamp(1px, 7vw, 5em);
    padding-bottom: 1em;
    margin: 0 15px;
    background: linear-gradient(to bottom right, #8E4EEB, #852A3A);
}

h1 {
    font-size: clamp(2em, 5vw, 4em);
    letter-spacing: 5px;
    text-transform: uppercase;
}

//To make invisible for PreventDefault 
//and not to refresh on clicking on i
i {
    pointer-events: none;
}

//Scrollbar
::-webkit-scrollbar {
    border-radius: 5px;
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #852A3A;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #8E4EEB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8E4EEB;
}


//Form styles
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input,
form button {
    font-size: 1.5rem;
    padding: 0.5em;
    background: white;
}

form input,
form select {
    text-align: center;
    transition: all 0.3s ease;
}

button:focus {
    outline: 1px solid #8E4EEB;
}

form button {
    color: #8E4EEB;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all .3s ease;
    i {
        transition: transform 0.3s ease;
    }
    &:active {
        i {
           
            transform: scale(1.5);
        }
    }
    @media (any-hover: hover) {
        i {
            transition: transform .5s ease;
        }
        &:hover {
            background: #8E4EEB;
            color: #eee;
            i {
                transform: rotate(90deg);
            }
        }
    }
}

.search {
    display: flex;
    position: relative;
}

.todo-input {
    width: clamp(180px, 20vw, 500px);
    color: #8E4EEB;
    &:focus {
        background-color: #8E4EEB;
        color: white;
        &::placeholder {
            color: white;
        }
    }
    &::placeholder {
        color: #8E4EEB;
        opacity: 0.5;
    }
}

//To-do list styles
.todo-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;
    pointer-events: all;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    color: black;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    background: white
}

.todo-item {
    flex: 1;
    word-break: break-all;
    background: white;
    padding: 0.5em;
}

.delete-btn,
.complete-btn {
    background: #8E4EEB;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(14, 143, 14);
}

//Modificators for To-do
._completed {
    text-decoration: line-through;
    opacity: 0.5;
}
._deleted {
    transform: rotateZ(20deg) scale(0) translateY(50px);
    opacity: 0;
}
._preloaded {
    transform: rotateZ(-20deg) scale(0);
}
._loaded {
    transform: rotateZ(0) scale(1);
}


//Select section
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    &::after {
        content: "\25BC";
        position: absolute;
        font-size: 20px;
        background: #8E4EEB;
        top: 0;
        right: 0;
        padding: 1rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    @media (any-hover: hover) {
        &:hover::after {
            background: rgba(255, 255, 255, 0);
            color: #8E4EEB;
        }
    }
}

select {
    appearance: none;
    color: #8E4EEB;
    width: 200px;
    cursor: pointer;
    padding: 1em;
    option {
        background-color: #8E4EEB;
        color: white;
    }
}









